* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.swiper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*=-ibg] {
  position: relative;
  overflow: hidden;
}

[class*=-ibg] img,
[class*=-ibg] source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222222;
  background-color: #f7f7f7;
}

body::before {
  content: "";
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

body.lock {
  overflow: hidden;
}

body.lock::before {
  top: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 88px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  -webkit-transition: top 0.3s, border 0.3s;
  -o-transition: top 0.3s, border 0.3s;
  transition: top 0.3s, border 0.3s;
}

.header__wrapper.scrolled {
  top: -26px;
  border-bottom: 2px solid #f7f7f7;
}

.header__wrapper.burger-active::before {
  border-bottom: 2px solid #f7f7f7;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: border 0.3s, opacity 0.3s;
  -o-transition: border 0.3s, opacity 0.3s;
  transition: border 0.3s, opacity 0.3s;
  pointer-events: none;
}

.header__container {
  display: grid;
  grid-template-columns: 100px 1fr 28px auto;
  -webkit-column-gap: 43px;
  -moz-column-gap: 43px;
  column-gap: 43px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 62px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__main {
  background-color: #fff;
}

.header__search {
  position: relative;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__search:focus::before,
.header__search:focus::after {
  background-color: #e50817;
}

.header__search:focus svg {
  fill: #e50817;
}

.header__search.active {
  background-color: #222222;
}

.header__search.active::before,
.header__search.active::after {
  opacity: 1;
}

.header__search.active svg {
  opacity: 0;
}

.header__search::before,
.header__search::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}

.header__search::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__search::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__search svg {
  fill: #222222;
  -webkit-transition: fill 0.3s, opacity 0.3s;
  -o-transition: fill 0.3s, opacity 0.3s;
  transition: fill 0.3s, opacity 0.3s;
}

.bread-crumbs {
  position: relative;
  z-index: 12;
  background-color: #f7f7f7;
}

.bread-crumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  min-height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
}

.bread-crumbs__link {
  font-size: 12px;
  line-height: 1.1666666667;
  color: #636363;
}

.bread-crumbs__link[href] {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.bread-crumbs__link[href]:focus {
  color: #e50817;
}

.burger {
  position: relative;
  z-index: 12;
  width: 20px;
  height: 15px;
}

.burger:focus span {
  background-color: #e50817;
}

.burger:focus span:nth-child(2) {
  width: 100%;
}

.burger.active:focus span {
  background-color: #e50817;
}

.burger.active:focus span:nth-child(2) {
  width: 0;
}

.burger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
}

.burger.active span:nth-child(2) {
  left: 50%;
  width: 0;
}

.burger.active span:nth-child(3) {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-135deg);
  -ms-transform: translateY(50%) rotate(-135deg);
  transform: translateY(50%) rotate(-135deg);
}

.burger span {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #222222;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger span:nth-child(1) {
  top: 0;
  width: 100%;
}

.burger span:nth-child(2) {
  top: 50%;
  width: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
  width: 100%;
}

.logo {
  position: relative;
  z-index: 12;
  width: 100px;
  height: 42px;
}

.logo__image-ibg {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-header {
  position: relative;
  z-index: 12;
}

.nav-header__link {
  font-size: 14px;
  line-height: 1.1428571429;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-header__link:focus {
  color: #e50817;
}

.phones {
  position: relative;
  z-index: 12;
  display: grid;
  row-gap: 7px;
  justify-items: end;
}

.phones__hot-line {
  display: grid;
  grid-template-columns: 20px auto;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-size: 12px;
  line-height: 1.1666666667;
  text-decoration-line: underline;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
}

.phones__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1666666667;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
}

.phones__phone:focus {
  color: #e50817;
}

.form-header {
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 5;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

.form-header.show {
  top: 100%;
}

.form-header__inner {
  min-height: 79px;
  padding: 5px 0;
  border-top: 1px solid #e4e4e4;
}

.form-header__input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.form-header__input:focus {
  border-color: #e50817;
}

.form-header__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-header__input:focus::-moz-placeholder {
  opacity: 0;
}

.form-header__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form-header__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form-header__input:focus::placeholder {
  opacity: 0;
}

.form-header__input::-webkit-input-placeholder {
  color: #222222;
  opacity: 0.4;
}

.form-header__input::-moz-placeholder {
  color: #222222;
  opacity: 0.4;
}

.form-header__input:-ms-input-placeholder {
  color: #222222;
  opacity: 0.4;
}

.form-header__input::-ms-input-placeholder {
  color: #222222;
  opacity: 0.4;
}

.form-header__input::placeholder {
  color: #222222;
  opacity: 0.4;
}

.form-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 48px;
  padding: 5px 33px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.7333333333;
  text-align: center;
  color: #fff;
  background-color: #e50817;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.form-header__button:focus {
  background-color: #222222;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer {
  color: #fff;
}

.footer__main {
  background-color: #424242;
}

.footer__container {
  min-height: 125px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__logo {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav-footer__link {
  font-size: 14px;
  line-height: 1.1428571429;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-footer__link:focus {
  color: #e50817;
}

.bottom-footer {
  background-color: #323232;
}

.bottom-footer__container {
  min-height: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-footer__text {
  -ms-flex-item-align: end;
  align-self: end;
  font-size: 12px;
  line-height: 1.1666666667;
}

.bottom-footer__text[href] {
  display: inline-block;
  text-decoration: underline;
}

.bottom-footer__text[href]:focus {
  text-decoration: none;
}

.bottom-footer__text a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.bottom-footer__text a:focus {
  color: #e50817;
}

.bottom-footer__row .bottom-footer__text:first-child {
  -ms-flex-item-align: start;
  align-self: start;
}

.banner {
  padding: 30px 0 45px;
  color: #fff;
}

.banner__inner {
  position: relative;
  padding: 0 60px;
  padding-top: 76px;
  padding-bottom: 76px;
}

.banner__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(357.11deg, #eb5858 2.4%, #e22424 89.26%);
  background-image: linear-gradient(92.89deg, #eb5858 2.4%, #e22424 89.26%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.banner__title {
  -ms-flex-item-align: end;
  align-self: end;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  font-size: 40px;
}

.banner__image-ibg {
  grid-row: span 2;
  padding-bottom: 58.9743589744%;
}

.banner__text {
  line-height: 1.625;
  font-size: 16px;
}

.request {
  padding: 45px 0 90px;
}

.request__title {
  max-width: 600px;
  margin: 0 0 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.3529411765;
  font-size: 34px;
}

.request__label {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2272727273;
  font-size: 22px;
}

.request__text {
  margin: 0 0 40px;
  font-weight: 300;
  line-height: 1.625;
  color: #636363;
  font-size: 16px;
}

.request__text a {
  text-decoration: underline;
  color: #e50817;
}

.request__text a:focus {
  text-decoration: none;
}

.cards-request__item:not(:last-child) {
  margin: 0 0 20px;
}

.card-request {
  min-height: 120px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card-request__image-ibg {
  width: 170px;
  height: 60px;
}

.card-request__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 48px;
  padding: 5px 35px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card-request__button:focus::before {
  left: 100%;
}

.card-request__button:focus::after {
  left: 0;
}

.card-request__button::before,
.card-request__button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.card-request__button::before {
  left: 0;
  background-image: -o-linear-gradient(357.11deg, #eb5858 2.4%, #e22424 89.26%);
  background-image: linear-gradient(92.89deg, #eb5858 2.4%, #e22424 89.26%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.card-request__button::after {
  left: -100%;
  background-color: #222222;
}

.card-request__button span {
  position: relative;
  z-index: 1;
}

.list-request__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-column-gap: 3px;
  -moz-column-gap: 3px;
  column-gap: 3px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  line-height: 1.625;
}

.list-request__item:first-child .list-request__value {
  white-space: nowrap;
}

.list-request__label {
  font-weight: 300;
  color: #636363;
}

.list-request__lines {
  position: relative;
  top: -0.4375em;
  min-width: 20px;
  line-height: 1;
  border-bottom: 1px dashed #636363;
}

.list-request__value {
  font-weight: 500;
  text-align: right;
}

.list-request__value_red {
  color: #e50817;
}

@media (min-width: 401px) {
  .footer__container {
    display: grid;
    grid-template-columns: 100px auto auto;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-footer__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 13px;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    column-gap: 80px;
  }
}

@media (min-width: 481px) {
  .nav-header__phones.phones {
    display: none;
  }

  .phones__phone {
    text-align: right;
  }

  .form-header__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 551px) {
  .card-request {
    display: grid;
    grid-template-columns: 170px 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 98px;
    -moz-column-gap: 98px;
    column-gap: 98px;
  }

  .list-request {
    display: grid;
    grid-template-columns: 0.8936170213fr 1.1063829787fr;
    row-gap: 5px;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
  }
}

@media (min-width: 769px) {
  .bottom-footer__container {
    display: grid;
    row-gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-footer__row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    align-self: start;
  }

  .bottom-footer__row .bottom-footer__text:last-child {
    text-align: right;
  }

  .banner__inner {
    display: grid;
    grid-template-columns: 1fr 351px;
    row-gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}

@media (min-width: 1025px) {
  .burger {
    display: none;
  }

  .nav-header__list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-header__item {
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .nav-header {
    padding: 0 0 0 14px;
  }

  .banner__inner {
    border-radius: 20px;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .header__container {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .nav-header__link {
    font-size: 12px;
  }

  .banner {
    padding-top: 0;
  }

  .banner__inner {
    padding-top: calc(40px + 36 * ((100vw - 280px) / 920));
  }

  .banner__inner {
    padding-bottom: calc(40px + 36 * ((100vw - 280px) / 920));
  }

  .banner__inner {
    margin: 0 -15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .banner__title {
    font-size: calc(25px + 15 * ((100vw - 280px) / 920));
  }

  .banner__text {
    font-size: calc(12px + 4 * ((100vw - 280px) / 920));
  }

  .request {
    padding-bottom: 45px;
  }

  .request__title {
    font-size: calc(20px + 14 * ((100vw - 280px) / 920));
  }

  .request__label {
    font-size: calc(16px + 6 * ((100vw - 280px) / 920));
  }

  .request__text {
    font-size: calc(12px + 4 * ((100vw - 280px) / 920));
  }
}

@media (max-width: 1024px) {
  .header__wrapper.scrolled .nav-header {
    padding-top: 92px;
  }

  .header__container {
    grid-template-columns: 20px 1fr 28px auto;
  }

  .nav-header {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10;
    width: 50%;
    height: 100%;
    padding: 118px 15px 30px;
    background-color: #fff;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    overflow: auto;
    overflow-x: hidden;
  }

  .nav-header.show {
    top: 0;
  }

  .nav-header__item:not(:last-child) {
    margin: 0 0 20px;
  }

  .nav-header__link {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .nav-footer {
    grid-column: span 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 768px) {
  .bottom-footer__text:not(:last-child) {
    margin: 0 0 10px;
  }

  .banner {
    padding-bottom: 30px;
  }

  .banner__title {
    margin: 0 0 20px;
    text-align: center;
  }

  .banner__image-ibg {
    max-width: 351px;
    margin: 0 auto 20px;
    padding-bottom: 28.0487804878%;
  }

  .banner__text {
    text-align: center;
  }

  .request {
    padding: 30px 0;
  }
}

@media (max-width: 600px) {
  .nav-header {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .card-request__image-ibg {
    margin: 0 auto 20px;
  }

  .card-request__list {
    margin: 0 0 20px;
  }

  .list-request__item:not(:last-child) {
    margin: 0 0 10px;
  }
}

@media (max-width: 480px) {
  .header__container {
    grid-template-columns: 20px 1fr 28px;
  }

  .header__phones.phones {
    display: none;
  }

  .nav-header {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 30px;
  }

  .phones {
    justify-items: start;
  }

  .form-header__input {
    margin: 0 0 10px;
  }
}

@media (max-width: 400px) {
  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__nav {
    margin-bottom: 20px;
  }

  .nav-footer__item:not(:last-child) {
    margin: 0 0 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-header__list {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .footer__container {
    grid-template-columns: 1fr auto;
    row-gap: 20px;
  }
}

@media (min-width: 401px) and (max-width: 1200px) {
  .nav-footer__list {
    -webkit-column-gap: calc(20px + 60 * ((100vw - 280px) / 920));
    -moz-column-gap: calc(20px + 60 * ((100vw - 280px) / 920));
    column-gap: calc(20px + 60 * ((100vw - 280px) / 920));
  }
}

@media (min-width: 401px) and (min-width: 501px) and (max-width: 900px) {
  .nav-footer__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .nav-footer__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 551px) and (max-width: 1200px) {
  .card-request {
    -webkit-column-gap: calc(20px + 78 * ((100vw - 992px) / 208));
    -moz-column-gap: calc(20px + 78 * ((100vw - 992px) / 208));
    column-gap: calc(20px + 78 * ((100vw - 992px) / 208));
  }

  .list-request {
    -webkit-column-gap: calc(20px + 60 * ((100vw - 992px) / 208));
    -moz-column-gap: calc(20px + 60 * ((100vw - 992px) / 208));
    column-gap: calc(20px + 60 * ((100vw - 992px) / 208));
  }
}

@media (min-width: 551px) and (max-width: 992px) {
  .card-request {
    grid-template-columns: 1fr auto;
    row-gap: 20px;
  }

  .list-request {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-column: span 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (any-hover: hover) {
  .header__search:hover::before,
  .header__search:hover::after {
    background-color: #e50817;
  }

  .header__search:hover svg {
    fill: #e50817;
  }

  .bread-crumbs__link[href]:hover {
    color: #e50817;
  }

  .burger:hover span {
    background-color: #e50817;
  }

  .burger:hover span:nth-child(2) {
    width: 100%;
  }

  .burger.active:hover span {
    background-color: #e50817;
  }

  .burger.active:hover span:nth-child(2) {
    width: 0;
  }

  .nav-header__link:hover {
    color: #e50817;
  }

  .phones__phone:hover {
    color: #e50817;
  }

  .form-header__button:hover {
    background-color: #222222;
  }

  .footer__logo:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .nav-footer__link:hover {
    color: #e50817;
  }

  .bottom-footer__text[href]:hover {
    text-decoration: none;
  }

  .bottom-footer__text a:hover {
    color: #e50817;
  }

  .request__text a:hover {
    text-decoration: none;
  }

  .card-request:hover {
    -webkit-box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.1490196078);
    box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.1490196078);
  }

  .card-request__button:hover::before {
    left: 100%;
  }

  .card-request__button:hover::after {
    left: 0;
  }
}